@model ResultBannerDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ana Sayfa Banner Alanı</h4>
                <p class="card-subtitle mb-4">
                    Ana sayfanın banner alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tema bütünlüğünün bozulmaması için adına lütfen
                    sadece 1 tane veri girişi yapınız. Aksi durumlarda tema bütünlüğü bozulacaktır.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Video Url</th>
                                <th>Video Açıklama</th>
                                <th>Sil</th>
                                <th>Güncelleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(x=>x.Title)</td>
                                <td>@Html.DisplayFor(x=>x.Description)</td>
                                <td><a href="@Html.DisplayFor(x=>x.VideoUrl)">@Html.DisplayFor(x => x.VideoUrl)</a></td>
                                <td>@Html.DisplayFor(x => x.VideoDescription)</td>
                                <td><a href="/CarBookAdmin/Banner/DeleteBanner?BannerId=@Html.DisplayFor(x=>x.BannerId)" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/CarBookAdmin/Banner/GetBanner?BannerId=@Html.DisplayFor(x=>x.BannerId)" class="btn btn-outline-warning">Güncelle</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <a href="/CarBookAdmin/Banner/CreateBanner" class="btn btn-outline-primary">Yeni Banner Girişi</a>
            </div>
        </div>
    </div>
</div>

