@model List<ResultTestimonialDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int Count = 0;
}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referanslar Listesi</h4>
                <p class="card-subtitle mb-4">
                   Müşterilerimizin bizim hakkımızda söylemiş oldukları ifadeleri yorum olarak ekleyip, düzenleyebildiğimiz sayfamız aşağıda yer almaktadır
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Görsel</th>
                                <th>Ad Soyad</th>
                                <th>Unvan</th>
                                <th>Yorum</th>
                                <th>Sil</th>
                                <th>Güncelleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Testimonial in Model)
                            {
                                Count++;

                                <tr>
                                    <td>@Count</td>
                                    <td><img src="@Testimonial.ImageUrl" style="width:60px; height:60px;border-radius:50%"/></td>
                                    <td>@Testimonial.Name</td>
                                    <td>@Testimonial.Title</td>
                                    <td>@Testimonial.Comment</td>
                                    <td><a href="/CarBookAdmin/Testimonial/DeleteTestimonial?TestimonialId=@Testimonial.TestimonialId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/CarBookAdmin/Testimonial/GetTestimonial?TestimonialId=@Testimonial.TestimonialId" class="btn btn-outline-warning">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/CarBookAdmin/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Yeni Sosyal Medya Girişi</a>
            </div>
        </div>
    </div>
</div>