@model List<ResultCommentDto>

<h3 class="mb-5">@ViewBag.CommentCount Yorum Sayısı</h3>
<ul class="comment-list">
    @foreach(var x in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="~/images/defaultpic.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@x.Name</h3>
                <div class="meta">@(((DateTime)x.CreatedDate).ToString("dd MMMM yyyy")) at @(((DateTime)x.CreatedDate).ToString("t")) @(((DateTime)x.CreatedDate).ToString("tt"))</div>
                <p>@x.Description</p>
                <p><a href="#" class="reply">Yanıtla</a></p>
            </div>
        </li>
    }
</ul>