@model List<ResultReviewByCarIdDto>

<div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
    <div class="row">

        <div class="col-md-7">
            <h3 class="head">@Model.Count() Değerlendirme</h3>
            @foreach (var item in Model)
            {
                <div class="review d-flex">
                    <div class="user-img" style="background-image: url(@item.CustomerImage)"></div>
                    <div class="desc">
                        <h4>
                            <span class="text-left">@item.CustomerName</span>
                            <span class="text-right">@(((DateTime)item.ReviewDate).ToString("dd MMMM yyyy"))</span>
                        </h4>
                        <p class="star">
                            <span>
                                @for (int i = 0; i < item.RaytingValue; i++)
                                {
                                    <i class="ion-ios-star"></i>
                                }
                            </span>
                            <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                        </p>
                        <p>@item.CustomerComment</p>
                    </div>
                </div>
            }
        </div>

        @await Component.InvokeAsync("_CarDetailCommentReviewComponentPartial",new {id = ViewBag.CarId})
    </div>
</div>